
		<!-- Home -->
			<div class="wrapper wrapper-style1 wrapper-first">
				<article class="container" id="top">
					<div class="row">
						<div class="4u">
							<span class="me image image-full"><img src="/assets/me.jpg" alt="" /></span>
						</div>
						<div class="8u">
							<header>
								<h1>Hi. I'm <strong>Oded Korczyn</strong>.</h1>
							</header>
							<p>Experienced Product manager with a background in anthropology, game mechanics, UX, and user motivation. .</p>
							<a href="#work" class="button button-big">What I do</a>
						</div>
					</div>
				</article>
			</div>

		<!-- Work -->
			<div class="wrapper wrapper-style2">
				<article id="work">
					<header>
						<h2>I design and build amazing things.</h2>
				<!--		<span>Some of the project which I developed.</span>-->
					</header>
					<div class="container">
						<div class="row">
							<div class="4u">
								<section class="box box-style1">
									<span class="fa featured"><img src="/assets/geo2.jpg" style="width:300px;height:200px"></span>
									<h3>Geo Trio</h3>
									<p>Geotrio enables people all over the world to create, take, and share digital audio tours..</p>
								</section>
							</div>
							<div class="4u">
								<section class="box box-style1">
										<span class="fa featured" style="background-color:#43B4F8"><img src="/assets/opiny-blue.png" style="width:300px;height:200px"></span>
									<h3>Opiny</h3>
									<p>Opiny used to share user experience of the restaurants from the place where they dine.</p>
								</section>
							</div>
							<div class="4u">
								<section class="box box-style1">
										<span class="fa featured"><img src="/assets/toddler.png" style="width:300px;height:200px"></span>
									<h3>Toddlerosity</h3>
									<p>Daily Fun & Simple challenges designed to intrigue, delight, and advance kids.</p>
								</section>
							</div>
						</div>
					</div>
					<footer>
						<!--<p>Lorem ipsum dolor sit sapien vestibulum ipsum primis?</p>-->
						<a href="#portfolio" class="button button-big">See more of my work</a>
					</footer>
				</article>
			</div>

		<!-- Portfolio -->
			<div class="wrapper wrapper-style3">
				<article id="portfolio">
					<header>
						<h2>Awesome work makes happy clients.</h2>
						<!--<span>Proin odio consequat  sapien vestibulum ipsum primis sed amet consequat lorem dolore feugiat lorem ipsum dolore.</span>-->
					</header>
					<div class="container">
						<div class="row">
							<div class="12u">
							</div>
						</div>
						<div class="row">
							<div class="4u">
								<article class="box box-style2">
									<a href="https://www.aftercollege.com/" class="image"><img src="/assets/portfolio-1.png" alt="" style="width:200px;height:200px"/></a>
									<h3><a href="https://www.aftercollege.com/">AfterCollege</a></h3>
									<p>Product Manager @ AfterCollege, Inc.</p>
								</article>
							</div>
							<div class="4u">
								<article class="box box-style2">
									<a href="http://www.puzux.com/" class="image"><img src="/assets/portfolio-2.gif" alt="" style="width:200px;height:200px" /></a>
									<h3><a href="http://www.puzux.com/">Puzux</a></h3>
									<p>Gamification consultant @ Puzux.</p>
								</article>
							</div>
							<div class="4u">
								<article class="box box-style2">
									<a href="http://badgeville.com/" class="image" style="backgroud-color:grey"><img src="/assets/portfolio-3.png" alt=""  style="width:200px;height:200px;background-color:grey" /></a>
									<h3><a href="http://badgeville.com/">Badgeville</a></h3>
									<p>Lead Producer @ Badgeville</p>
								</article>
							</div>
						</div>
	</div>
					<footer>
					<!--	<p>Lorem ipsum dolor sit sapien vestibulum ipsum primis?</p>-->
						<a href="#contact" class="button button-big">Get in touch with me</a>
					</footer>
				</article>
			</div>

		<!-- Contact -->
			<div class="wrapper wrapper-style4">
				<article id="contact" class="container small">
					<header>
						<h2>Get in touch!</h2>
						<!--<span>Ornare nulla proin odio consequat sapien vestibulum ipsum sed lorem.</span>-->
					</header>
					<div>
						<div class="row">
							<div class="12u">
								<form method="post" action="">
									<div>
										<div class="row half">
											<div class="6u">
												<input type="text" name="name" id="name" placeholder="Name" />
											</div>
											<div class="6u">
												<input type="text" name="email" id="email" placeholder="Email" />
											</div>
										</div>
										<div class="row half">
											<div class="12u">
												<input type="text" name="subject" id="subject" placeholder="Subject" />
											</div>
										</div>
										<div class="row half">
											<div class="12u">
												<textarea name="message" id="message" placeholder="Message"></textarea>
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<a href="#contact" class="button" id="send_message">Send Message</a>
											<!--	<a href="#" class="button button-alt form-button-reset">Clear Form</a>-->
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<hr />
								<h3>Find me on ...</h3>
								<ul class="social">
									<li class="twitter"><a href="https://twitter.com/odedkor" class="fa fa-twitter" target="_blank"><span>Twitter</span></a></li>
									<li class="facebook"><a href="https://www.facebook.com/oded.korczyn" class="fa fa-facebook" target="_blank"><span>Facebook</span></a></li>

									<li class="linkedin"><a href="https://www.linkedin.com/in/korczyn" class="fa fa-linkedin" target="_blank"><span>LinkedIn</span></a></li>
								
									<!--
										<li class="tumblr"><a href="#" class="fa fa-tumblr"><span>Tumblr</span></a></li>
									<li class="googleplus"><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
									<li class="github"><a href="http://github.com/n33" class="fa fa-github"><span>Github</span></a></li>
										<li class="dribbble"><a href="http://dribbble.com/n33" class="fa fa-dribbble"><span>Dribbble</span></a></li>
									<li class="rss"><a href="#" class="fa fa-rss"><span>RSS</span></a></li>
									<li class="instagram"><a href="#" class="fa fa-instagram"><span>Instagram</span></a></li>
									<li class="foursquare"><a href="#" class="fa fa-foursquare"><span>Foursquare</span></a></li>
									<li class="skype"><a href="#" class="fa fa-skype"><span>Skype</span></a></li>
									<li class="soundcloud"><a href="#" class="fa fa-soundcloud"><span>Soundcloud</span></a></li>
									<li class="youtube"><a href="#" class="fa fa-youtube"><span>YouTube</span></a></li>
									<li class="blogger"><a href="#" class="fa fa-blogger"><span>Blogger</span></a></li>
									<li class="flickr"><a href="#" class="fa fa-flickr"><span>Flickr</span></a></li>
									<li class="vimeo"><a href="#" class="fa fa-vimeo"><span>Vimeo</span></a></li>
									-->
								</ul>
								<hr />
							</div>
						</div>
					</div>
					<footer>
						<ul id="copyright">
							<li>&copy; 2013 Oded Korczyn </li>
						
						</ul>
					</footer>
				</article>
			</div>
<script>


$( "#send_message" ).click(function() {
 
$.ajax({
url: "<%=send_contact_us_email_path%>",
data: {
																from_name: $("#name").val(),
																from_email: $("#email").val(),
																from_subject: $("#subject").val(),
																from_message: $("#message").val()
										},
});
 

});
</script>